{% extends "base.html" %}

{%block titulo%}
    Email Confirmación
{% endblock %}

{%block contenido%}
    <div class="container"><br><br><br>
        <div class="row" align="center">
            <div class="col" text-color="red"><hr>
                <h2 style="color:#089733"><b> Hola, te hemos enviado un correo para que actives tu cuenta </b></h2>
            </div><hr>
        </div>

    <div class="row" align="center"><br><br>
            <div class="col">
                <h3> ¡Puedes volver o dar clic atras !  </h3>
            <h5> IMPORTANTE: Es necesario que ingreses a tu correo y actives tu cuenta para asesorarnos de que eres un cliente real. </h5>
            </div>
        </div>
    </div>
{% endblock %}