{%extends 'base.html'%}
{%block titulo %} 
    Mi espacio 
{%endblock%} 

{%block contenido%} <br />
<h1><center>Mis imagenes</center></h1>
<br /><br />
  <div class="container mt-1" >
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for imagenes in imagen %}
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <div class="btn-group dropleft my-1" style="display: flex; justify-content: end;"> 
                        <i class="bi bi-three-dots py-1 ml-3 bg-transparent bg-opacity-50 border-bottom" style="width: 30px; height: 30px; font-size:20px; display: flex; justify-content: center;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Editar</a></li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('cambiarStatus',id=imagenes[0],status=imagenes[4])}}">
                                    {% if imagenes[4] =='activo' %}
                                        Desactiva
                                    {% elif imagenes[4] =='inactivo' %}
                                        Activar
                                    {% endif %}
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="#">Eliminar</a></li>
                        </ul>
                    </div>  
                    <!-- <img src="{{imagenes[3]}}" class="card-img-top" style="width: 100%;" alt="{{imagenes[2]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{imagenes[2]}}</h5>
                    </div> -->
                    <figure class="figure">
                        <img src="{{imagenes[3]}}" class="card-img-top" style="width: 100%;" alt="{{imagenes[2]}}">
                        <figcaption class="figure-tittle text-center">nombre: {{imagenes[2]}}</figcaption>
                    </figure>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{%endblock%}
