{%extends 'base.html'%}
{%block titulo%}
    Mi espacio
{%endblock%}

{%block contenido%}
<br><h1><center>Mis imagenes </center> </h1><br><br>
    <!-- <h3>
      Carga ahora tus archivos, solo debes dar clic aqui abajo!
    </h3><br>
      
    <input type="file" id="myFile" /> <br /><br />
      
    <input type="submit" value="Subir" /><br><br> -->
            {% for producto in imagen %}
            <!-- Gallery -->
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                  <img
                  style="width: 5%"
                  src="{{ producto[0] }}"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Boat on Calm Water"
                  />
                </div>
                <div>{{ producto[2] }}</div>
                <div>{{ producto[1] }}</div>
              </div>
              <!-- Gallery -->
            {% endfor %}
{%endblock%}