{% block navbar%}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <a class="navbar-brand" href="/">
        <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ;) TUENTI</b>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          {% if 'loggedin' in session %}
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('vistaUsuario')}}"
              >Mi Ventana
            </a>
          </li>
          <div class="dropdown">
            <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Explorar
            </a>
          
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
              <li >
                <a class="dropdown-item" href="{{url_for('subirArchivoPost')}}">
                  Cargar imagen
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('vistaRadio')}}">
                  Radio
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('logout')}}">
                  Cerrar sesión
                </a>
              </li>
            </ul>
          </div>
          
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="/crear">Registrarse </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login">Iniciar sesión </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
{%endblock%}
